{% extends "layout.html" %}

{% block title %}
Chai aur tweet
{% endblock %}

{% block content %}
{% if  user.authenticated %}<h6 class="text-end mt-1">profile - {{user}}</h6>{% endif %}
<h1 class="text-center  mt-3">Welcome to Django project</h1>


<a href="{% url "create_tweet" %}" class="btn btn-primary mt-4">Create tweet</a>
<div class="container row gap-3 mt-4 bt-2">
    {% for tweet in tweets   %}
    <div class="card" style="width: 18rem;">
        <img src="{{ tweet.photo.url }}" class="card-img-top mt-2 img-fluid" style="height: 200px; object-fit: cover;" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          {% if tweet.user == user %}
          <a href="{% url "edit_tweet" tweet.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url "delete_tweet" tweet.id %}" class="btn btn-danger">delete</a>
          {% endif %}
        </div>
      </div>
      
    {% endfor %}
</div>
{% endblock %}